<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile Card
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="Profile-card">
    <div class="top">
      <div id="rectangle">
      </div>
      <img src="../../assets/shapes.svg" alt="">
    </div>
    <div class="content">
      <h3>
        Web Devloper - Web Designer</h3>
      <p>
        <strong>Lorem Ipsum is simply</strong> the printing and typesetting industry.</p>
      <ul>
        <li><a class="fa fa-facebook" href="#"></a></li>
        <li><a class="fa fa-twitter" href="#"></a></li>
        <li><a class="fa fa-google-plus" href="#"></a></li>
        <li><a class="fa fa-youtube" href="#"></a></li>
      </ul>
    </div>
    <div class="footer">
      <div id="rectangle1">
      </div>
      <p>
        Coded By DarkCode .</p>
    </div>
  </div>
</ion-content>