<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accordion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="accordion">
    Accordion 1
    <!-- <span class="paymentSpanClass">Payment Information</span> -->
  </div>
  <div class="panel ion-text-center">
    Accordion 1 Information
  </div>

  <div class="accordion">
    Accordion 2
    <!-- <span class="paymentSpanClass">Payment Information</span> -->
  </div>
  <div class="panel ion-text-center">
    Accordion 2 Information
  </div>

  <div class="accordion">
    Accordion 3
    <!-- <span class="paymentSpanClass">Payment Information</span> -->
  </div>
  <div class="panel ion-text-center">
    Accordion 3 Information
  </div>



</ion-content>